example-inventory/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule FWS Cloud Connector

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

    The software in this package is published under the terms of the CPAL v1.0
    license, a copy of which has been included with this distribution in the
    LICENSE.txt file.

-->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" 
  xmlns:fws="http://repository.mulesoft.org/releases/org/mule/modules/mule-module-fws"
  xmlns:json="http://www.mulesoft.org/schema/mule/json" 
  xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
  xmlns:email="http://www.mulesoft.org/schema/mule/email"
  xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
  xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://repository.mulesoft.org/releases/org/mule/modules/mule-module-fws http://repository.mulesoft.org/releases/org/mule/modules/mule-module-fws/2.0/mule-fws.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
       http://www.mulesoft.org/schema/mule/json    http://www.mulesoft.org/schema/mule/json/3.1/mule-json.xsd
       http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/3.1/mule-smtp.xsd
       http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/3.2/mule-scripting.xsd 
       http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/3.1/mule-email.xsd
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.0/mule-http.xsd">


  <fws:config name="fws" accessKey="${fwsAccessKey}" secretKey="${fwsSecretKey}"/>
  
  <smtp:gmail-connector name="email"/>
  
  <flow name="InventoryStatus">
    <description>Sends an email with the inventory changes in the last 10 days</description>
    <http:inbound-endpoint host="localhost" port="9090" path="fws-demo-inventory" />
    <fws:get-inventory-service-status />
    <logger level="DEBUG" />
    <fws:list-updated-inventory-supply
      startDateTime="#[groovy:new Date() - 10]" />
    <scripting:component>
      <scripting:script engine="groovy">
      <![CDATA[  
      return payload.collect({ x -> 
""" 
MerchantSKU: ${x.merchantSKU}
  ASIN: ${x.ASIN}
  Total Quantity: ${x.totalSupplyQuantity}
  In Stock Quantity: ${x.inStockSupplyQuantity}
"""
        })
        .join("");       
      ]]>
     </scripting:script>
    </scripting:component>
    <logger level="DEBUG" message="#[payload]"/>
   <smtp:outbound-endpoint host="smtp.gmail.com" port="587" 
      user="${smtpUsername}" 
      password="${smtpPassword}"
      from="${smtpFromAddress}" 
      to="${smtpToAddress}" 
      subject="Inventory Status" >
        <email:string-to-email-transformer/>
    </smtp:outbound-endpoint>
  </flow>
  
  


</mule>