src/test/resources/fws-namespace-config.xml
<?xml version="1.0" encoding="UTF-8"?>
  <!--

    Mule FWS Cloud Connector Copyright (c) MuleSoft, Inc. All rights
    reserved. http://www.mulesoft.com The software in this package is
    published under the terms of the CPAL v1.0 license, a copy of which
    has been included with this distribution in the LICENSE.txt file.
  -->

  <!--

    This file was automatically generated by the Mule Cloud Connector
    Development Kit
  -->

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans" xmlns:fws="http://www.mulesoft.org/schema/mule/fws"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
                          http://www.mulesoft.org/schema/mule/fws http://www.mulesoft.org/schema/mule/fws/1.0/mule-fws.xsd">

  <fws:config accessKey="foo" secretKey="bar" />

  <flow name="DeleteInboundShipmentItems">
    <inbound-endpoint address="vm://DeleteInboundShipmentItems"
      exchange-pattern="request-response" />
    <fws:delete-inbound-shipment-items
      merchantSku="#[header:merchantSku]" shipmentId="#[header:shipmentId]" />
  </flow>


  <flow name="GetFulfillmentId">
    <inbound-endpoint address="vm://GetFulfillmentId"
      exchange-pattern="request-response" />
    <fws:get-fulfillment-identifier asin="#[variable:asin]"
      itemCondition="#[variable:itemCondition]" merchantSku="#[variable:merchantSku]" />
  </flow>


  <flow name="GetFulfillmentIdForMsku">
    <inbound-endpoint address="vm://GetFulfillmentIdForMsku"
      exchange-pattern="request-response" />
    <fws:get-fulfillment-identifier-for-msku
      merchantSku="#[map-payload:merchantSku]" />
  </flow>


  <flow name="GetFulfillmentIdByFnsku">
    <inbound-endpoint address="vm://GetFulfillmentIdByFnsku"
      exchange-pattern="request-response" />
    <fws:get-fulfillment-item-by-fnsku
      fulfillmentNetworkSku="#[payload]" />
  </flow>


  <flow name="GetFulfillmentIdByMsku">
    <inbound-endpoint address="vm://GetFulfillmentIdByMsku"
      exchange-pattern="request-response" />
    <fws:get-fulfillment-item-by-msku
      merchantSku="#[map-payload:merchantSku]" />
  </flow>


  <flow name="name">
    <inbound-endpoint address="vm://name"
      exchange-pattern="request-response" />
    <fws:get-inbound-shipment shipmentId="#[header:ShipmentId]" />
  </flow>


  <flow name="GetInboundShipmentPreview">
    <inbound-endpoint address="vm://GetInboundShipmentPreview"
      exchange-pattern="request-response" />
    <fws:get-inbound-shipment-preview
      labelPreference="MERCHANT_LABEL" items="#[variable:items]" address="#[address]" />
  </flow>


  <flow name="GetInboundServiceStatus">
    <inbound-endpoint address="vm://GetInboundServiceStatus"
      exchange-pattern="request-response" />
    <fws:get-inbound-service-status />
  </flow>


  <flow name="ListFulfillments">
    <inbound-endpoint address="vm://ListFulfillments"
      exchange-pattern="request-response" />
    <fws:list-fulfillment-items
      includeInactive="true" />
  </flow>


  <flow name="ListInboundShipmentItems">
    <inbound-endpoint address="vm://ListInboundShipmentItems"
      exchange-pattern="request-response" />
    <fws:list-inbound-shipment-items
      shipmentId="#[header:shipmentId]" />
  </flow>


  <flow name="ListInboundShipments">
    <inbound-endpoint address="vm://ListInboundShipments"
      exchange-pattern="request-response" />
    <fws:list-inbound-shipments
      shipmentStatus="CANCELLED" createdAfter="#[varaible:initialCreationDate]"
      createdBefore="#[varaible:finalCreationDate]" />
  </flow>


  <flow name="PutInboundShipmentData">
    <inbound-endpoint address="vm://PutInboundShipmentData"
      exchange-pattern="request-response" />
    <fws:put-inbound-shipment-data labelPreference="MERCHANT_LABEL"
      shipmentId="#[variable:shipmentId]" shipmentName="#[variable:shipmentName]"
      destinationFulfillmentCenter="#[variable:destinationFulfillmentCenter]"
      shipFromAddress="#[variable:shipFromAddress]" />
  </flow>


  <flow name="PutShipmentItems">
    <inbound-endpoint address="vm://PutShipmentItems"
      exchange-pattern="request-response" />
    <fws:put-inbound-shipment-items shipmentId="#[variable:shipmentId]" itemQuantities="#[variable:aQuantityItem]"/>
  </flow>


  <flow name="SetInboundShipmentStatus">
    <inbound-endpoint address="vm://SetInboundShipmentStatus"
      exchange-pattern="request-response" />
    <fws:set-inbound-shipment-status
      shipmentId="#[variable:shipmentId]" shipmentStatus="SHIPPED" />
  </flow>



  <flow name="CancelFulfillmentOrder">
    <inbound-endpoint address="vm://CancelFulfillmentOrder"
      exchange-pattern="request-response" />
    <fws:cancel-fulfillment-order orderId="#[header:orderId]" />
  </flow>


  <flow name="CreateFulfillmentOrder">
    <inbound-endpoint address="vm://CreateFulfillmentOrder"
      exchange-pattern="request-response" />
    <fws:create-fulfillment-order
      destinationAddress="#[map-payload:destinationAddress]" orderId="#[map-payload:orderId]"
      displayableOrderComment="#[map-payload:comment]"
      displayableOrderDate="[map-payload:orderDate]" items="#[map-payload:items]"
      shippingSpeedCategory="#[map-payload:shippingSpeed]" />
  </flow>

  <flow name="GetFulfillmentOrder">
    <inbound-endpoint address="vm://GetFulfillmentOrder"
      exchange-pattern="request-response" />
    <fws:get-fulfillment-order orderId="#[map-payload:orderId]" />
  </flow>


  <flow name="GetFulfillmentPreview">
    <inbound-endpoint address="vm://GetFulfillmentPreview"
      exchange-pattern="request-response" />
    <fws:get-fulfillment-preview address="#[variable:address]"
      shippingSpeedCategories="Standard"
      items="#[variable:items]" orderItemId="X123698" />
  </flow>




  <flow name="GetOutboundServiceStatus">
    <inbound-endpoint address="vm://GetOutboundServiceStatus"
      exchange-pattern="request-response" />
    <fws:get-outbound-service-status />
  </flow>

  <flow name="ListFulfillmentOrders">
    <inbound-endpoint address="vm://ListFulfillmentOrders"
      exchange-pattern="request-response" />
    <fws:list-fulfillment-orders startDate="#[payload]" />
  </flow>

  <flow name="GetInventorySupply">
    <inbound-endpoint address="vm://GetInventorySupply"
      exchange-pattern="request-response" />
    <fws:get-inventory-supply merchantSku="FDF68"
      responseGroup="DETAILED" />
  </flow>


  <flow name="GetInventoryServiceStatus">
    <inbound-endpoint address="vm://GetInventoryServiceStatus"
      exchange-pattern="request-response" />
    <fws:get-inventory-service-status />
  </flow>

  <flow name="ListUpdatedSupply">
    <inbound-endpoint address="vm://ListUpdatedSupply"
      exchange-pattern="request-response" />
    <fws:list-updated-inventory-supply
      startDateTime="#[header:querystartDateTime]" responseGroup="DETAILED" />
  </flow>

</mule>
